node_modules
.DS_Store
dist
dist-ssr
*.local*
count.txt
.nitro
.tanstack
.wrangler
*.sqlite
.husky/_
chats
nao-chat-server
.pytest_cache/

*.pyc

rsa_key.*
apps/backend/projects/

*.code-workspace
config.bat
